* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-bg: #292929;
  --brand-red: #ff3326;

  --title-color: #3C3C3C;
  --text-color: #4F4F4F;
}

html {
  font-size: 10px;
}

a:hover {
  transition: color .3s;
  color: var(--brand-red);
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
}

h2 {
  font-size: 4rem;
  color: var(--title-color);
}

h3 {
  font-size: 3.6rem;
  color: var(--title-color);
}

span {
  color: var(--brand-red);
  font-weight: 700;
}

header {
  display: flex;
  background-color: var(--dark-bg);
  height: 11.4rem;
  align-items: center;

  position: fixed;

  width: 100%;

  z-index: 100;
}

header .wrapper {
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
}

.wrapper {
  display: flex;
  margin: 0 auto;
  width: 70%;
}

.header-title {
  font-weight: 500;
  color: white;

  cursor: default;

  user-select: none;
}

nav {
  display: flex;
}

ul {
  display: flex;
  list-style: none;
  gap: 3.4rem;
}

nav a {
  color: white;
  text-decoration: none;
}

.home-bg {
  margin-top: 11.4rem;
  position: absolute;
  z-index: -1;
  display: flex;
  width: 100%;
}

.card {
  width: 66.9rem;
  display: flex;
  flex-direction: column;

  background-color: white;

  border: none;
  border-radius: 3rem;

  padding-inline: 3.7rem;
  padding-block: 3.3rem;

  margin-top: 44.4rem;

  box-shadow: 5px 5px 20px var(--title-color);
}

.card h2 {
  font-weight: 500;
  margin-bottom: 1.8rem;
}

.card p {
  color: var(--text-color);
}

.tomb-raider-history {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 1.8rem;
  margin-top: 12.2rem;
}

.tomb-raider-history h3 {
  margin-bottom: 3.4rem;
}

.video-container {
  overflow: hidden;
  position: relative;
  width:100%;
  z-index: 1;
}

.video-container::after {
  padding-top: 56.25%;
  display: block;
  content: '';
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.footer {
  background-color: var(--dark-bg);
  border-top: 2px solid var(--brand-red);
  height: 26.2rem;

  padding-block: 4rem;
}

.footer-content {
  display: flex;
  flex-direction: column;
}

.footer-content p {
  color: white;
  font-weight: 100;
  text-align: center;
}